@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ==== Fonts ==== */
  --heading-font: "Poppins", sans-serif;
  --body-font: "Raleway", sans-serif;

  /* ==== Colors ==== */
  --primary-orange: #ffa500; /* Warm Orange */
  --secondary-green: #6dbe45; /* Fresh Green */
  --background-cream: #fff8f0; /* Soft Cream */
  --text-dark: #333333; /* Charcoal Gray */
  --text-light: #777777; /* Medium Gray */
  --button-green: #2c6e31; /* CTA Button Green */
  --button-hover-green: #134b17;
  --white: #fff; /*White Color*/

  /* ==== Padding & Margin ==== */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  /* ==== Font Sizes ==== */
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px  */
  --font-md: 1.125rem; /* 18px */
  --font-lg: 1.5rem; /* 24px */
  --font-xl: 2rem; /* 32px */
  --font-xxl: 3rem; /* 48px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-cream);
  min-height: 100vh;
  padding-top: 62px;
  font-family: var(--body-font);
}
/*==== Navbar ====*/
nav {
  position: fixed;
  top: 0;
  height: 62px;
  left: 0;
  z-index: 1100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  background-color: var(--primary-orange);
  color: var(--white);
  font-size: var(--font-base);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo i {
  align-items: center;
  margin: 5px;
  transform: rotate(35deg);
}

.logo {
  font-size: var(--font-xl);
  color: var(--background-cream);
  font-weight: 600;
  z-index: 1100;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 1100;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--white);
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

nav ul {
  list-style: none;
  display: flex;
  gap: var(--space-sm);
  font-weight: 500;
}

nav ul li {
  transition: 0.3s ease;
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-base);
  padding: var(--space-sm) var(--space-md);
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--button-green);
  color: var(--white);
  transition: all 0.3s ease;
}

/*==== Responsive Navbar ====*/
@media (max-width: 1200px) {
  .hamburger {
    display: flex;
  }
  .links {
    position: absolute;
    top: 62px;
    right: 0;
    width: 100%;
    background-color: var(--primary-orange);
    padding: var(--space-md);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .links.active {
    transform: translateY(0%);
  }

  .links ul {
    flex-direction: column;
    gap: var(--space-sm);
    text-align: center;
    gap: var(--space-md);
  }

  .links ul li a {
    padding: 12px;
    font-size: var(--font-base);
  }

  .links ul li a:hover{
    background-color: transparent;
  }

  .links ul li{
    padding: 10px 15px;
    border-radius: 8px;
  }

  .links ul li:hover{
    background-color: var(--button-green);
  }
}

@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }
  .logo {
    font-size: var(--font-lg);
  }
}

/*==== Hero Section ====*/
.hero{
  padding: 60px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.con-left{
  flex: 1;
  max-width: 550px;
  min-width: 300px;
}

.con-left-h1{
  font-size: var(--font-xxl); 
  margin-bottom: 20px;
  color: var(--primary-orange);
  font-weight: 700;
  font-family: var(--heading-font);
}

.con-left-p{
  font-family: var(--body-font);
  font-size: var(--font-lg);
  color: var(--secondary-green);
  margin-bottom: 20px;
  font-weight: 600;
}

.con-left-btn{
  background-color: var(--primary-orange);
  padding: 12px 24px;
  border-radius: 30px;
  color: var(--white);
  font-weight: 500;
  font-size: var(--font-md);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.con-left-btn:hover {
  background-color: var(--button-green);
  transform: translateY(-5px);
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.1);
}

.con-right{
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-hero{
  width: 100%;
  max-width: 450px;
  position: relative;
}

.pet-wrapper{
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}

.pet-shape{
  background-color: var(--primary-orange);
  border-radius:  74% 26% 54% 46% / 57% 30% 70% 43%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.dog{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(10%);
  width: 100%;
  z-index: 2;
}

.cat{
  position: absolute;
  width: 200px;
  bottom: 0;
  left: -70px;
  z-index: 2;
}

/*==== Hero Section Responsiveness ====*/
@media (max-width: 768px){
  .hero{
    padding: 40px 48px;
  }

  .container{
    flex-direction: column;
    text-align: center;
  }

  .con-left{
    order: 1;
    margin-bottom: 30px;
  }

  .con-right{
    order: 2;
  }

  .con-left-h1{
    font-size: 2.2rem;
  }

  .cat{
        width: 150px;
        left: -40px;
  }
}

@media (max-width:480px){
  .con-left-h1{
    font-size: 1.8rem;
  }

  .con-left-p{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .con-left-btn{
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .pet-hero{
    max-width: 320px;
  }

  .cat{
    width: 150px;
    left: -60px;
  }
}

@media (max-width:360px){
  .hero{
    padding-right: 20px;
    padding-left: 20px;
  }
  .con-left-h1{
    font-size: 1.6rem;
  }

  .con-right{
    min-width: 250px;
  }
}


/*==== What we Have ====*/
.wwh{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-orange);
  padding: 60px 50px;
}

.wwh h1{
  font-size: var(--font-xxl);
  font-family: var(--heading-font);
  color: var(--white);
  text-shadow: 4px 6px 6px rgba(0,0,0,0.1);
}

.wwh-cards{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.wwh-card{
  width: 300px;
  height: 100px;
  background-color: var(--secondary-green);
  box-shadow: 4px 6px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  transition: all 0.3s ease;
}

.wwh-card:hover{
  transform: translateY(-10px);
  background-color: var(--text-dark);
}

.wwh-card h2{
  font-size: var(--font-xl);
  color: var(--white);
}

.card-1 img{
  height: 200px;
  position: relative;
  bottom: 30px;
}

.card-2 img{
  height: 200px;
  position: relative;
  right: 40px;
  bottom: 30px;
}

@media (max-width: 768px){
  .wwh h1{
    text-align: center;
    font-size: 2.3rem;
    margin-top: -20px;
    margin-bottom: 40px;
  }
  .card-1{
    margin-top: 50px;
  }

    .card-2{
    margin-top: 40px;
  }
}

/*==== About Us ====*/
.about-us{
  padding: 60px 50px;
  text-align: center;
  background-color: var(--secondary-green);
}

.about-us h1{
  font-family: var(--heading-font);
  font-size: var(--font-xxl);
  color: var(--white);
  margin-bottom: 2rem;
  text-shadow: 4px 6px 6px rgba(0,0,0,0.1);
}

.about-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-left{
  flex: 1 1 300px;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.about-left img{
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease;
}

.about-left img:hover{
  transform: scale(1.02);
}

.about-right{
  flex: 1 1 300px;
  max-width: 600px;
  text-align: left;
  padding: 1rem;
}

.about-right h2{
  font-size: 1.8rem;
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: 600;
}

.about-right p{
  font-size: 1rem;
  line-height: 1.6;
  color: var(--white);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-left, .about-right {
    max-width: 100%;
  }

  .about-right {
    text-align: center;
  }
}

/*==== Products Section ====*/

.products{
  position: relative;
  padding: 5rem 2rem 4rem;
  text-align: center;
  overflow: hidden;
}

.products .wave{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.products h1{
  font-size: var(--font-xxl);
  color: var(--white);
  text-shadow: 4px 6px 6px rgba(0,0,0,0.1) ;
}

.product-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
}

.product-card{
  width: 300px;
  background-color: var(--primary-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: var(--white);
  padding:20px;
  border-radius: 20px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.product-card:hover{
  transform: translateY(-5px) scale(1.02);
}

.product-card img{
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}


.product-card h3{
  font-family: var(--heading-font);
  margin-bottom: 10px;
  font-size: var(--font-lg);
}

.product-card p{
  font-weight: 600;
  line-height: 1.6;
}


/* ===== Responsive Adjustments ===== */

@media (max-width: 768px) {
  .product-card{
    text-align: center;
  }
  .products h1{
    margin-top: -90px;
  }
  .product-card h3{
    font-size: var(--font-md);
  }
}

@media (max-width: 480px) {
  .products{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .products h1{
    margin-bottom: -10px;
    color: var(--text-dark);
    z-index: 1000;
  }
}
